# local package
-e .

# # external requirements
# click
# Sphinx
# coverage
# awscli
# flake8
# python-dotenv>=0.5.1



#packages that i have used
dagshub 
# mlflow
botocore==1.38.27
nltk
mlflow==2.8.0
python-dotenv
xgboost
dvc
dvc[s3]
awscli==1.40.26
prometheus_client
